<%= form_for @conn, Routes.email_verification_path(@conn, :create),
  [class: "elixircasts-form"], fn f -> %>
  <%= text_input f, :email,
    placeholder: "email",
    required: true %>
  <%= error_tag f, :email %>

  <div>
    <%= submit gettext "Send email verification link" %>
  </div>
<% end %>
