<h1><%= gettext "Edit Products"%></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.products_path(@conn, :update, @products)) %>

<span><%= link gettext("Back"), to: Routes.products_path(@conn, :index) %></span>
